---
layout: default # Ini akan menggunakan default.html sebagai parent layout
---
<article class="post">
    <header class="post-header">
        <h1>{{ page.title }}</h1>
        <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
            {% if page.author %} oleh {{ page.author }}{% endif %}
            {% if page.categories %} di 
            {% for category in page.categories %}
                <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
            {% endif %}
        </p>
    </header>
    <div class="post-content">
        {{ content }} {# Ini akan menampung konten Markdown dari postingan #}
    </div>
    {% if page.tags %}
    <footer class="post-footer">
        Tag: 
        {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </footer>
    {% endif %}
    </article>
